.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition-duration: 1s;
}
.header.active
{
    height: 0;
}
.nav.active
{
    transform: translateY(-150%);
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    z-index: 20;
    // background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(21,57,86,0.3) 50%, rgba(0,0,0,0.5) 100%);
    transition-duration: 1s;
}
.nav__item {
    padding: 5px 50px;
    position: relative;
    display: inline;
    color: $white;
    font-size: 18px;
    border-bottom: 4px dashed $pr;
}
.nav__item:hover{
    // transform: translateY(-2px);
    border-bottom: 4px dashed $linkColor;
    color: $linkColor;
}
.video-bg{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-info {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-120px);
}
.header-title {
    text-transform: uppercase;
    font-size: 70px;
    color: $white;
    letter-spacing: 40px;
    font-weight: 300;
    color: $linkColor;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    
}
.header-title.active{
    transform: translateX(-150%);
}
@media  screen and (max-width: 1535px) {
    .header-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
@media  screen and (max-width: 800px) {
    .header-title{
        font-size: 54px;
        letter-spacing: 31px;
    }
    
}
@media  screen and (max-width: 600px) {
    .header-title{
        font-size: 40px;
        letter-spacing: 23px;
    }
    .nav__item {
        padding: 5px 25px;
    }
}
@media  screen and (max-width: 450px) {
    .header-title{
        font-size: 30px;
        letter-spacing: 17px;
    }
}
@media  screen and (max-width: 350px) {
    .header-title{
        font-size: 24px;
        letter-spacing: 14px;
    }
    .nav__item {
        padding: 5px 10px;
    }
}